.login-form {
  height: auto;
  max-width: 350px;
  background-color: transparent;
  /* position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%; */
  margin: 0 auto 55px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* border: 2px solid rgba(255,255,255,0.1); */
  /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
  padding: 0 5px;
}

.login-form-success {
  max-width: 450px;
  margin-bottom: 10rem;
  margin: 5rem auto 10rem
}


.login-form * {
  font-family: var(--sans);
  color: var(--white);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
}

.login-span {
  font-size: 0.85rem;
  color: var(--white);
  opacity: 0.5;
}

.login-label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.login-input {
  display: block;
  height: 35px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--white);
  /* border-radius: 3px; */
  padding: 0 10px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  transition: border 0.15s ease-in-out;
}
.login-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.login-input:focus {
  border-bottom: 1px solid var(--magenta);
}

.login-button {
  margin-top: 30px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--dkblue);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.login-clicked {
  background-color: var(--magenta);
  border: 1px solid var(--magenta);
  color: var(--white);
}

.login-button:hover {
  background-color: var(--magenta);
  border: 1px solid var(--magenta);
  color: var(--white);
}

.login-button-facebook {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: var(--white);
}

.login-button-facebook:hover {
  background-color: #38599b;
  border: 1px solid #38599b;
  color: var(--white);
}

.login-forgot-password-link {
  margin-top: 10px;
  font-size: 1rem;
}

.login-forgot-password-link a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.login-forgot-password-link a:hover {
  cursor: pointer;
}
