/* Variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root  {
  --black: #171321;
  --dkblue: rgb(13, 49, 75);
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --error: rgb(167, 34, 34);
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: 'Oxygen', sans-serif;
  
}